{% extends 'user_base.html.twig' %}

{% block title %}Book tickets{% endblock %}

{% block content %}
    <h1 class="text-2xl">Book tickets</h1>
    <style>
        h1 {
            padding-left: 15px;
            padding-top: 10px;
        }

        div {
            padding-left: 15px;
            padding-top: 5px;
        }
    </style>

    {{ include('user_booking/_form.html.twig') }}

{% endblock %}
