{% extends 'base.html.twig' %}

{% block title %}New Band{% endblock %}

{% block body %}
    <style>
        h1 {
            padding-left: 15px;
            padding-top: 10px;
        }

        div {
            padding-left: 15px;
            padding-top: 5px;
        }
    </style>
    <h1>Create new Band</h1>

    {{ include('band/_form.html.twig') }}
    <div style="padding-left: 30px">
        <button type="button" class="btn" onclick="window.location.href='{{ path('app_band_index') }}';">
            Back to list
        </button>
    </div>
{% endblock %}
