{% extends 'base.html.twig' %}

{% block title %}Edit Festival{% endblock %}

{% block body %}
    <style>
        h1 {
            padding-left: 15px;
            padding-top: 10px;
        }

        div {
            padding-left: 15px;
            padding-top: 5px;
        }
    </style>
    <h1>Edit Festival</h1>


    {{ include('festival/_form.html.twig', {'button_label': 'Update'}) }}

    {#    <div class="flex flex-row"> #}
    <div style="padding-left: 30px">
        <button type="button" class="btn" onclick="window.location.href='{{ path('app_festival_index') }}';">Back to
            list
        </button>
    </div>
    <div style="padding-left: 30px">
        {{ include('festival/_delete_form.html.twig') }}
    </div>
    {#    </div> #}
{% endblock %}
